@import "nav";
@import "colores";
@import "home";
@import "footer";
@import "albums";
@import "galeria";
@import "contacto";
@import "iconos";
@import "tienda";
@import "mediaqueries";
@import "fonts";

main{
    background-color: $colorFondo;
    font-family: 'Helvetica Now Text';
    height: auto;
    min-height: 810px;
}

*{
    scroll-behavior: smooth;
}
